{% extends "base.html" %}

{% block content %}
<body style="text-align:center;">
    <br>
    <h1>Home</h1>
    <h2>Ingest Stocks & Cases:</h2>
    <button class="btn btn-primary"><a href="{% url 'Ingest' %}" class="button-link">Ingest Cases from JSON</a></button><br><br>
    <br><h2>Generate Predictions:</h2>
    <button class="btn btn-primary"><a href="{% url 'GenerateLSTMPredictions' %}" class="button-link">Generate LSTM Predictions</a></button><br><br>
    <button class="btn btn-primary"><a href="{% url 'GenerateMontePredictions' %}" class="button-link">Generate Monte Predictions</a></button><br><br>
    <br><h2>Stock Suite:</h2>
    <button class="btn btn-primary"><a href="{% url 'GeneratePortOptimizer' %}" class="button-link">Portfolio</a></button><br><br>
    <button class="btn btn-primary"><a href="{% url 'Display' %}" class="button-link">Show Stock Predictions</a></button><br><br>
</body>
{% endblock %}