<style>
  .button-link {
    color: inherit;
    text-decoration: none;
  }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<body style="text-align:center">
    <h1>Finance Prediction Assistant</h1>

    <button class="btn btn-secondary"><a href="{% url 'Ingest' %}" class="button-link">Ingest Cases from JSON</a></button><br><br>
    <button class="btn btn-secondary"><a href="{% url 'GenerateLSTMPredictions' %}" class="button-link">Generate LSTM Predictions</a></button><br><br>
    <button class="btn btn-secondary"><a href="{% url 'GenerateMontePredictions' %}" class="button-link">Generate Monte Predictions</a></button><br><br>
    <button class="btn btn-success"><a href="{% url 'GeneratePortOptimizer' %}" class="button-link">Generate Portfolio</a></button><br><br>

    <button class="btn btn-primary"><a href="{% url 'Display' %}"  class="button-link">Display</a></button>
</body>